<% if message.owner_id == current_user.id %>
  <% friend = current_user %>
<% else %>
  <% friend = them %>
<% end %>
<li>
  <div class="group">
    <div class="message-user-img">
      <%= image_tag friend.profile.profile_img.url(:small) %>
    </div>
    <div class="message-body">
      <a href="<%= user_profile_url(friend) %>">
        <%= friend.name %>: &nbsp;
      </a>
      <%= message.body %>
    </div>
  </div>
</li>