<% owner = comment.user %>
<% profile = owner.profile %>
<div class="comment group">
  <div class="comment-img">
    <%= image_tag profile.profile_img.url(:small) %>
  </div>
  <div class="comment-body">
    <%= link_to "#{owner.name}:", user_profile_url(owner) %>
    <%= comment.body.html_safe %>
  </div>
  <div class="like-links group">
    <%= render partial: "likes/show", locals: { object: comment, object_type: "Comment"} %>
  </div>
</div>