<header>
  <div class="header-wrapper">
    <div class="logo"></div>
    <%= render partial: "root/header", locals: { user: @user } %>
  </div>
</header>

<%= render partial: "statuses/form", locals: { status: @status } %>