<h1><%= "Conversation with #{them.name}: "%></h1>
<ul class="message-list">
  <% thread.messages.order("messages.created_at").each do |message| %>
    <%= render partial: "messages/show", locals: {message: message} %>
  <% end %>
</ul>
<%= render partial: "messages/form", locals: { recipient: them} %>