<% owner = User.find(notification.user_id) %>
<% tagged = User.find(notification.tagged_user_id) %>
<% photo = Photo.find(notification.photo_id) %>
<div class="notification">
  <% if tagged == current_user %>
  <%= owner.name + "tagged you in a <a href='#{user_photo_url(photo.user, photo)}'>photo</a>" %>
  <% elsif owner == tagged %>
  <%= owner.name + "tagged themself in a <a href='#{user_photo_url(photo.user, photo)}'>photo</a>" %>
  <% else %>
  <%= owner.name + "tagged #{tagged.name} in a <a href='#{user_photo_url(photo.user, photo)}'>photo</a>" %>
  <% end %>
</div>