<header>
  <div class="header-wrapper">
    <div class="logo"></div>
    <%= render partial: "root/header", locals: { user: current_user } %>
  </div>
</header>

<div class="content">
  <div class="left-sidebar">
  </div>

  <div class="middle-content">
    <div class="status-list">
      <%= render partial: "statuses/form", locals: { status: @status } %>
      <% @statuses.each do |status| %>
        <%= render partial: "statuses/show", locals: { status: status } %>
      <% end %>
    </div>
  </div>

  <div class="right-sidebar">
  </div>
</div>