<div class="user-list">
  <% unless friends.empty? %>
    <h2>Friends</h2>
    <% friends.each do |friend| %>
      <div class="user">
        <%= render partial: "users/show_friend", locals: {user: user, friend: friend} %>
      </div>
    <% end %>
  <% end %>
</div>