<% friends = current_user.friends %>
<% pending_request_friends = current_user.pending_request_friends %>
<% pending_friends = current_user.pending_friends %>
<% users.reject! { |user| friends.include?(user) || pending_request_friends.include?(user) || user == current_user } %>

<div class="user-list">
  <% unless users.empty? %>
    <h2>Users</h2>
    <% users.each do |user| %>
      <div class="user">
        <%= render partial: "users/show_user", locals: {user: user, pending_friends: pending_friends} %>
      </div>
    <% end %>
  <% end %>
</div>