<div class="photos">
  <h3><%= album.title.html_safe %></h3>
  <br>
  <ul>
    <% album.photos.each do |photo| %>
      <li>
        <a href="<%= user_photo_url(params[:user_id], photo) %>" data-remote="true">
        <figure>
          <% if photo.caption %>
            <figcaption><%= photo.caption.html_safe %></figcaption>
          <% end %>
          <%= image_tag photo.img.url %>
        </figure>
      </a>
      </li>
    <% end %>
  </ul>
</div>