<div class="photos">
  <h2><%= album.title %></h2>
  <br>
  <ul>
    <% album.photos.each do |photo| %>
      <div class="photo-container">
        <a href="<%= user_photo_url(params[:user_id], photo) %>" data-remote="true">
          <figure>
            <%= image_tag photo.img.url %>
            <% if photo.caption %>
              <figcaption><%= photo.caption %></figcaption>
            <% end %>
          </figure>
        </a>
      </div>
    <% end %>
  </ul>
</div>