<form class="photo-form" data-remote="true" action="<%= photos_url %>" enctype="multipart/form-data" method="post">
  <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">
  <input type="file" name="photo[img]">
  <br>
  <label for="photo-caption">Optional Caption:</label>
  <input type="text" name="photo[caption]" id="photo-caption">
  <br>
  <input class="photo-submit-button" type="submit" value="Upload Photo!">
</form>