<div class="photos">
  <h2>Photos:</h2>
  <br>
  <ul>
    <% photos.each do |photo| %>
      <div class="photo-container">
        <a href="<%= user_photo_url(user, photo) %>" data-remote="true">
          <figure>
            <%= image_tag photo.img.url(:medium) %>
            <% if photo.caption %>
              <figcaption><%= photo.caption %></figcaption>
            <% end %>
          </figure>
        </a>
      </div>
    <% end %>
  </ul>
</div>