<header>
  <div class="header-wrapper">
    <div class="logo"></div>
    <%= render partial: "root/header", locals: { user: current_user } %>
  </div>
</header>

<div class="content">
  <div class="left-sidebar">
  </div>

  <div class="middle-content">
    <div class="photos">
      <h3>Photos:</h3>
      <br>
      <ul>
        <% @photos.each do |photo| %>
          <li>
            <a href="<%= user_photo_url(@user, photo) %>">
              <figure>
                <figcaption><%= photo.caption %></figcaption>
                <%= image_tag photo.img.url(:big) %>
              </figure>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="right-sidebar">
  </div>
</div>