<header>
  <div class="header-wrapper">
    <div class="logo"></div>
    <%= render partial: "sessions/new" %>
  </div>
</header>

<div class="main">
  <div class="about">
  </div>
  <div class="signup">
    <%= render partial: "users/new" %>
  </div>
</div>