// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group:after {
  content: "";
  display: block;
  clear: both;
}

.error {
  color: red;
  font-size: 30px;
}

body {
  background: #2E9AFE;
}

header {
  width: 100%;
  height: 100px;
  background: lightblue;
}

.header-wrapper {
  margin: auto;
  padding-top: 20px;
  width: 1000px;
  height: 80px;
  background: blue;
}

.logo {
  float: left;
  font-family: sans-serif;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 50px;
  color: white;
}

// LANDING PAGE

.signin {
  float: right;
  font-family: sans-serif;
  font-size: 15px;
}

.signin-data {
  float: left;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.signin-input {
  width: 150px;
  height: 40px;
}

.signin-button {
  margin-top: 22px;
  height: 40px;
  width: 80px;
}

.main {
  margin: auto;
  width: 1000px;
}

.about {
  width: 560px;
  height: 650px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: lightblue;
  font-size: 20px;
  float: left;
}

.about > ul {
  margin-left: 40px;
}

.signup {
  width: 400px;
  height: 650px;
  padding-top: 50px;
  font-size: 20px;
  float:right;
  background: lightblue;
}

.signup-content {
  background: lightblue;
}

.names {}

.first-name {
  float: left;
  margin-right: 20px;
}

.last-name {
  float: left;
}

.signup-text-input {
  width: 150px;
  height: 30px;
}

.signup-button {
  height: 40px;
  width: 120px;
}

// SIGNED IN HEADER

.signed-in-header-links {
  margin-top: 20px;
  float: right;
  background: blue;
}

.signed-in-header-links > ul {
  float: right;
}

.signed-in-header-links > ul > li {
  margin-right: 20px;
  float: left;
}

.signed-in-header-links > ul > li > a {
  color: white;
  font-size: 20px;
}

.signed-in-header-links > ul > li > a:hover {
  text-decoration: underline;
}

.logout-button {
  width: 80px;
  height: 30px;
}

// MAIN STRUCTURE

.content {
  margin: auto;
  width: 1000px;
  min-height: 770px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: lightblue;
}

.left-sidebar {
  width: 198px;
  min-height: 800px;
  float: left;
  background: lightblue;
}

.left-sidebar > ul > li > a:hover {
  font-weight: bold;
}

.left-sidebar > ul {
  margin-left: 30px;
}

.left-sidebar > ul > li {
  margin-top: 10px;
}

.left-sidebar > ul > li > a {
  font-size: 20px;
}

.middle-content {
  width: 800px;
  min-height: 770px;
  float: left;
  border-left: 2px solid white;
  background: lightblue;
}

// PROFILE STYLING

.about-content {
  width: 505px;
  margin-left: 70px;
}

.about-img, .about-list {
  float: left;
}

// NEWSFEEDS STYLING

.status-form {
  width: 505px;
  height: 159px;
  margin-left: 140px;
}

.status-form > textarea {
  width: 500px;
  height: 120px;
  max-width: 500px;
  max-height: 120px;
}

.status-submit-button {
  float: right;
}

// USERS INDEX

.user-list {
  width: 800px;
  min-height: 770px;
  float: left;
  background: lightblue;
}

.user {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
}

.user > form {
  margin-right: 20px;
  font-size: 20px;
  float: left;
}

// STATUS SHOW PARTIAL

.status {
  width: 505px;
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 2px solid white;
}

.status-user-img {
  margin-right: 20px;
  float: left;
}

.status-content {
  float: left;
  margin-bottom: 10px;
}

.status-body {
  width: 400px;
  max-height: 300px;
  max-width: 400px;
  background: white;
}

.status-links > ul > li {
  padding-right: 20px;
  float: left;
}

.comment-data {
  background: lightblue;
}

// COMMENT FORM

.comment-form {
  width: 505px;
}

.comment-submit-data {
  width: 500px;
  max-width: 500px;
}

.submit-comment-button {
  float: right;
}

// COMMENT SHOW PARTIAL

.comment {
  width: 505px;
}

.comment-body {
  width: 500px;
  background: white;
}

.comment-footer > ul {
  float: left;
}

.comment-footer > ul > li {
  float: left;
  margin-right: 20px;
}

// ALBUMS STYLING

.album-header {
  margin-right: 40px;
  margin-left: 40px;
}

.photo-upload-form {
  //width: 300px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  float: left;
}

.photo-submit-button {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}

.photo-upload-form > form > input[type="file"] {
  width: 200px;
}

.album-button {
  float: right;
}

.albums > ul > li {
  float: left;
}

// LIKES STYLING

.like-links {
  float: left;
}

.like-links > ul > li {
  margin-right: 10px;
  float: left;
}

// NOTIFICATIONS STYLING

.notification {
  width: 505px;
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 2px solid white;
  text-align: center;
}

// PHOTO SHOW STYLING

.photo .like-links {
  float: none;
}