// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group:after {
  content: "";
  display: block;
  clear: both;
}

.error {
  color: red;
  font-size: 30px;
}

body {
  background: #2E9AFE;
}

header {
  width: 100%;
  height: 100px;
  background: lightblue;
}

.header-wrapper {
  margin: auto;
  padding-top: 20px;
  width: 1000px;
  height: 80px;
  background: blue;
}

.logo {
  float: left;
  font-family: sans-serif;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 50px;
  color: white;
}

// LANDING PAGE

.signin {
  float: right;
  font-family: sans-serif;
  font-size: 20px;
}

.signin-data {
  float: left;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.signin-input {
  width: 150px;
  height: 40px;
}

.signin-button {
  margin-top: 22px;
  height: 40px;
  width: 80px;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

.main {
  margin: auto;
  width: 1000px;
}

.about {
  width: 560px;
  height: 650px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: lightblue;
  font-size: 20px;
  float: left;
}

.about > ul {
  margin-left: 40px;
}

.signup {
  width: 400px;
  height: 650px;
  padding-top: 50px;
  font-size: 20px;
  float:right;
  background: lightblue;
}

.signup-content {
  background: lightblue;
}

.names {}

.first-name {
  float: left;
  margin-right: 20px;
}

.last-name {
  float: left;
}

.bday {
  width: 180px;
}

.signup-text-input {
  width: 150px;
  height: 30px;
}

.signup-button {
  height: 40px;
  width: 120px;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

// SIGNED IN HEADER

.signed-in-header-links {
  margin-top: 20px;
  float: right;
  background: blue;
}

.signed-in-header-links > ul {
  float: right;
}

.signed-in-header-links > ul > li {
  margin-right: 20px;
  float: left;
}

.signed-in-header-links > ul > li > a {
  color: white;
  font-size: 20px;
}

.signed-in-header-links > ul > li > a:hover {
  text-decoration: underline;
}

.logout-button {
  width: 80px;
  height: 30px;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

// MAIN STRUCTURE

.content {
  margin: auto;
  width: 1000px;
  min-height: 770px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: lightblue;
}

.left-sidebar {
  width: 198px;
  min-height: 800px;
  float: left;
  background: lightblue;
}

.left-sidebar > ul > li > a:hover {
  font-weight: bold;
}

.left-sidebar > ul {
  margin-left: 30px;
}

.left-sidebar > ul > li {
  margin-top: 10px;
}

.left-sidebar > ul > li > a {
  font-size: 20px;
}

.middle-content {
  width: 800px;
  min-height: 770px;
  float: left;
  border-left: 2px solid white;
  background: lightblue;
}

// PROFILE STYLING

.about-content {
  width: 660px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.about-img, .about-list {
  float: left;
}

.about-list {
  margin-left: 20px;
}

.about-links {
  margin-top: 20px;
  font-weight: bold;
}

.about-links a {
  margin-right: 30px;
}

// PROFILE FORM STYLING

.profile-form-container {
  margin-left: 70px;
}

// NEWSFEEDS STYLING

.status-form {
  width: 505px;
  height: 159px;
  margin-left: 140px;
}

.status-form > textarea {
  width: 500px;
  height: 120px;
  max-width: 500px;
  max-height: 120px;
}

.status-submit-button {
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

// USERS INDEX

.user-list {
  min-height: 770px;
  float: left;
  margin-left: 70px;
  background: lightblue;
}

//.user {
//  margin-left: 40px;
//  margin-bottom: 20px;
//  font-size: 40px;
//}

.user > form {
  margin-right: 20px;
  font-size: 20px;
  float: left;
}

// STATUS SHOW PARTIAL

.status {
  width: 470px;
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 17px 20px 17px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background: lightgrey;
}

.status-user-img {
  margin-right: 20px;
  float: left;
}

.status-content {
  float: left;
  margin-bottom: 10px;
}

.status-body {
  width: 400px;
  max-height: 300px;
  max-width: 400px;
  background: white;
}

.status-links > ul > li {
  padding-right: 20px;
  float: left;
}

.comment-data {
  margin-left: 30px;
}

// COMMENT FORM

.comment-form {
  width: 440px;
}

.comment-submit-data {
  width: 440px;
  max-width: 440px;
}

.submit-comment-button {
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

// COMMENT SHOW PARTIAL

.comment {
  width: 505px;
}

.comment-img {
  float: left;
}

.comment-content {
  float: left;
  padding-left: 20px;
}

.comment-body {
  width: 370px;
  background: white;
}

.comment-footer > ul {
  float: left;
}

.comment-footer > ul > li {
  float: left;
  margin-right: 20px;
}

// ALBUMS STYLING

.photos {
  float: left;
  margin-left: 70px;
  background: lightblue;
}

.album-header {
  margin-right: 40px;
  margin-left: 40px;
}

.photo-container {
  float: left;
}

.photo-upload-form {
  //width: 300px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  float: left;
}

.photo-submit-button {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

.photo-upload-form > form > input[type="file"] {
  width: 200px;
}

.album-button {
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

.albums > ul > li {
  float: left;
}

// ALBUM FORM

.album-form {
  margin-left: 70px;
}

.photo-select {
  float: left;
}

// LIKES STYLING

.like-links {
  float: left;
}

.like-links > ul > li {
  margin-right: 10px;
  float: left;
}

// NOTIFICATIONS STYLING

.notification {
  width: 505px;
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  text-align: center;
  background: lightgrey;
}

// PHOTO SHOW STYLING

.photo {
  float: left;
  margin-left: 70px;
  background: lightblue;
}

.photo-like-links {
  float: left;
}

// USERS/FRIENDS STYLING

.friends-list {
  margin-left: 70px;
}

.user {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  margin: 10px;
  float: left;
}

.user-img {
  margin-top: 20px;
  float: left;
}

.user-info {
  float: left;
  margin-left: 10px;
}

.friend-button {
  margin: 10px 0px 10px 0px;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

// MESSAGE INDEX STYLING

.conversations {
  margin-left: 70px;
}

.messaged-friends-list li {
  display: block;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  float: left;
}

.user-message-img {
  float: left;
}

.user-message-info {
  margin-top: 15px;
  margin-left: 10px;
  float: left;
}

// MESSAGE THREAD SHOW STYLING

.message-user-img {
  float: left;
}

.message-body {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  background: white;
  float: left;
}

// MESSAGE FORM STYLING

.message-form {
  width: 440px;
}

.message-submit-data {
  width: 440px;
  max-width: 440px;
}

.submit-message-button {
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}

// PROFILE FORM STYLING

.profile-form-container {
  margin-left: 70px;
}

.profile-input {
  margin: 10px;
}

.profile-img-input {
  width: 200px;
}

.submit-profile-button {
  border: 1px solid white;
  border-radius: 4px;
  background: #77F2BB;
}